<div class="flex flex-col items-center justify-center px-6 pt-8 mx-auto md:h-screen pt:mt-0 dark:bg-gray-900">
  <a href="" class="flex items-center justify-center mb-8 text-2xl font-semibold lg:mb-10 dark:text-white">
    <span>Prendre un rendez-vous</span>
  </a>
  <!-- Card -->
  <div class="w-full max-w-xl p-6 space-y-8 sm:p-8 bg-white rounded-lg shadow dark:bg-gray-800">
    <form class="mt-8 space-y-6" action="#" #registerPatientForm="ngForm" (ngSubmit)="submitForm(registerPatientForm)" >
      <div class="grid grid-cols-6 gap-6">
        <div class="col-span-6 sm:col-span-3">
          <label for="prenomAdd" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Prénom</label>
          <input type="text" name="prenom" ngModel id="prenomAdd"
                 class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                 placeholder="Prénom" required>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="nomAdd"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nom</label>
          <input type="text" name="nom" ngModel id="nomAdd"
                 class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                 placeholder="Nom" required>
        </div>
        <div class="col-span-12 sm:col-span-3">
          <label for="cinAdd"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">CIN</label>
          <input ngModel type="text" name="cin" id="cinAdd"
                 class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                 placeholder="CIN" required>
        </div>
        <div class="col-span-12 sm:col-span-3">
          <label for="emailAdd"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
          <input ngModel type="email" name="email" id="emailAdd"
                 class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                 placeholder="name@email.com" required>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="passwordAdd"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mot de passe</label>
          <input type="password" name="password" ngModel id="passwordAdd"
                 class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                 placeholder="••••••••" required>
        </div>
        <div class="col-span-6 sm:col-span-3">
          <label for="confirm-passwordAdd"
                 class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirmation mdp</label>
          <input type="password" name="password" ngModel id="confirm-passwordAdd"
                 class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                 placeholder="••••••••" required>
        </div>
      </div>
      <p-button type="submit" label="Submit" [loading]="loading"></p-button>
    </form>
  </div>
</div>
