
<div class='demo-app'>

  <div class='demo-app-sidebar'>
    <div class='demo-app-sidebar-section'>
    </div>
    <div class='demo-app-sidebar-section'>
    </div>

    <div
      class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800">
      <div class="flex items-center justify-between mb-4">
        <div class="flex-shrink-0">
          <span class="text-xl font-bold leading-none text-gray-900 sm:text-2xl dark:text-white">Prise de rendez vous
</span>
        </div>
      </div>
      <div id="main-chart">
            <span class="dark:text-white">
            Choisissez la date souhaitée pour votre rendez-vous.
            </span>
      </div>

    </div>



  <div class='demo-app-main'>
    <full-calendar *ngIf='calendarVisible' [options]='calendarOptions'>
      <ng-template #eventContent let-arg>
        <b>{{ arg.timeText }}</b>
        <i>{{ arg.event.title }}</i>
      </ng-template>
    </full-calendar>
  </div>

  </div>
</div>
